html{
    height: 100%;
    min-width: 320px;
}
/* form{
    display: flex;
} */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.head_div{
    position: sticky;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 0px;
    font-size: 16px;
}
.body_div{
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
    max-width: 100%;
}
.first_main{
    height: 100%;
}
.input_text{
    flex-grow: 1;
    resize: none;
    margin-left: 5px;
}

.foot_div{
     display: flex;
    justify-content: end;
    
    align-items: center;
    /* flex: 0 0 auto; */
    /* position: fixed; */
    height: 40px;
    font-size: 20px;
    /* height: 80px;
	margin-top: -80px; */
}
.wrapper{
    /* display: flex; */
	/* flex-direction: column; */
	margin: auto;
    width: 80%;
    
    /* min-height: 100%; */
}

.back_color{
background-color: rgba(4, 100, 57, 0.974);
}

.width_img{
    width: 100px;
    height: 100px;
    
}
.table_1{
    height: 100%;
}
table{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
th, td{
    border: 1px solid black;
    /* text-align: center;
    vertical-align: middle; */
}
.user_logreg, .user_passlogreg, .user_passlogreg_error{
    width: 100%;
  padding: 15px;
  margin: 5px 0 4px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.user_logreg:focus,
 .user_passlogreg:focus{
    background-color: #ddd;
    outline: none;
}
input:invalid {
    border-color: #900;
    /* background-color: #fdd; */
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  /* Это стили для кастомных сообщений об ошибке */
  .error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }
  .form_but{
    display: flex;
    justify-content: flex-end;
  }